<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>催眠曲</string>
		<key>filename</key>
		<string>M222.m4a</string>
		<key>singer</key>
		<string>平湖</string>
		<key>singerIcon</key>
		<string>Mjay_icon.png</string>
		<key>icon</key>
		<string>MMImage.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>催眠曲</string>
		<key>filename</key>
		<string>M777.m4a</string>
		<key>singer</key>
		<string>冬景</string>
		<key>singerIcon</key>
		<string>Mjay_icon.png</string>
		<key>icon</key>
		<string>MMImage3.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>催眠曲</string>
		<key>filename</key>
		<string>M555.m4a</string>
		<key>singer</key>
		<string>秋韵</string>
		<key>singerIcon</key>
		<string>Mjay_icon.png</string>
		<key>icon</key>
		<string>MMusic4.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>催眠曲</string>
		<key>filename</key>
		<string>M888.m4a</string>
		<key>singer</key>
		<string>朝日</string>
		<key>singerIcon</key>
		<string>Mjay_icon.png</string>
		<key>icon</key>
		<string>MMusic5.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>催眠曲</string>
		<key>filename</key>
		<string>M444.m4a</string>
		<key>singer</key>
		<string>风轻</string>
		<key>singerIcon</key>
		<string>Mjay_icon.png</string>
		<key>icon</key>
		<string>MMusic4.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>催眠曲</string>
		<key>filename</key>
		<string>M666.m4a</string>
		<key>singer</key>
		<string>梦境</string>
		<key>singerIcon</key>
		<string>Mjay_icon.png</string>
		<key>icon</key>
		<string>MMImage.jpg</string>
	</dict>
</array>
</plist>
